
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toyota Retailers &ndash; Car Option αε</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    

    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-152x152.png" />


    
    
        
    

    
      <link href="/css/master-anon-330697261608899543.css" rel="stylesheet" />
    

    <link href="//vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">

    
      <script>
if (!window.apos) {
  window.apos = {};
}
window.apos.data = { prefix: "" };
</script>
<script src="/modules/apos/js/vendor/setImmediate.js"></script>
<script src="/modules/apos/js/vendor/lodash.compat.js"></script>
<script src="/modules/apos/js/vendor/async.js"></script>
<script src="/modules/apos/js/vendor/jquery.js"></script>
<script src="/modules/apos/js/vendor/jquery-url-parser.js"></script>
<script src="/modules/apos/js/vendor/jquery-ui.js"></script>
<script src="/modules/apos/js/vendor/jquery-textchange.js"></script>
<script src="/modules/apos/js/vendor/selectize.js"></script>
<script src="/modules/apos/js/vendor/jquery.cookie.js"></script>
<script src="/modules/apos/js/vendor/polyglot.js"></script>
<script src="/modules/apos/js/vendor/jquery.get-outer-html.js"></script>
<script src="/modules/apos/js/vendor/jquery.find-by-name.js"></script>
<script src="/modules/apos/js/vendor/jquery.projector.js"></script>
<script src="/modules/apos/js/vendor/jquery.bottomless.js"></script>
<script src="/modules/apos/js/vendor/jquery.selective.js"></script>
<script src="/modules/apos/js/vendor/jquery.images-ready.js"></script>
<script src="/modules/apos/js/vendor/jquery.radio.js"></script>
<script src="/modules/apos/js/vendor/jquery.json-call.js"></script>
<script src="/modules/apos/js/vendor/jquery.lister.js"></script>
<script src="/modules/apos/js/content.js"></script>
<script src="/modules/pages/js/content.js"></script>
<script src="/modules/ui-2/js/ui-2.js"></script>
<script src="/modules/toyota-forms/js/jquery.flexslider.js"></script>
<script src="/modules/toyota-forms/js/validation.messages.el.js"></script>
<script src="/modules/toyota-forms/js/forms.js"></script>
<script src="/modules/toyota-forms/js/jquery.validate.min.js"></script>
<script src="/modules/toyota-forms/js/jquery.validation.messages.el.js"></script>
<script src="/modules/toyota-forms/js/jquery.datepicker.i18n.el.js"></script>
<script src="/modules/toyota-cta-page/js/content.js"></script>
<script src="/modules/toyota-cookie-law/js/cookies.js"></script>
<script src="/modules/snippets/js/content.js"></script>
<script src="/modules/people/js/content.js"></script>
<script src="/modules/groups/js/content.js"></script>
<script src="/modules/my-toyota-campaign-brand/js/content.js"></script>
<script src="/modules/my-toyota-campaign-product/js/content.js"></script>
<script src="/modules/my-toyota-video/js/content.js"></script>
<script src="/modules/fancy-page/js/content.js"></script>
<script src="/modules/my-toyota-used-car-page/js/content.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/additional-methods.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/lightslider.js"></script>
<script src="/js/site.js"></script><script>apos.scene = "anon";</script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
      <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
      <!-- Google maps API support. TODO: load dynamically? -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByR5MhRVFGGDvUl-a_1Ewqoff8mUQm24E"> </script>
      <script src="/js/infobox.js" type="text/javascript"></script>
      <script src="/js/richmarker-compiled.js"></script>
    
    <!-- Version information

        Version: 0.5.5
        Build: 20200804094721


    -->
  </head>
  
  
  
  <body class=" page home-page logged-out">
    
    

    
  

    
    
  


  
  
  

  <div class="apos-refreshable" data-apos-refreshable>
    




























<!-- APOS-BODY-CLASS  page home-page -->
<!-- APOS-TITLE  -->
<!-- APOS-EXTRA-HEAD  -->
<!-- APOS-SEO-DESCRIPTION  -->
<!-- Fixed navbar -->





  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Dealer -->
      <!--<div class="navbar-header">-->
      <div>
        <a class="navbar-brand rounded" href="/"><p>Car Option αε</p></a>
      </div>

      <!-- menu -->
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="main-menu">Menu&nbsp;<i class="icon-chevron-down"></i> </a>
          </li>
          

            
              
              
            

          
        </ul>
        <!-- breadcrumb -->
        

      </div>

      <!-- logo -->
      <ul class="navbar-right ">
        <li id="logo-back"><a href="/">&nbsp;</a></li>
        <a id='logo-drawer' href="/"><img id='logo-drawer' src="/images/logo.png" alt="" /></a>
      </ul>

    </div>
  </div><!-- end Fixed navbar -->

  <!-- call  to action buttons -->
  <div class="cta-container">
    <div class="container">
      <div class="row cta">
        <div class="col-xs-12">
          
            <ul class="extra">
              
                
                  <li>
                    

                      <a href="#" class='toyota-cta' data-action="contact-form" ><i class="toyota-icon-envelope-alt"></i><p>Επικοινωνία</p></a>

                    
                  </li>
                
                  <li>
                    
                      <a href="#" class='toyota-cta' data-action="test-drive-form" ><i class="toyota-icon-car1"></i><p>Test Drive</p></a>
                    
                  </li>
                
                  <li>
                    
                      <a href="#" class='toyota-cta' data-action="service-form" ><i class="toyota-icon-service"></i><p>Service</p></a>
                    
                  </li>
                
              
              
            </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="responsive-menu">
    <a href="#" class="main-menu hidden-md">Menu <i class="icon-chevron-down"></i> </a>
  </div>

  <div id="dmenu">
    <div class="container">
      
         <div class="row">
           
             <div class="col-md-7">
               <ul class="brands">
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/aygo">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/984076596449420654-aygo.png" alt="Aygo"/>
                         <h3>Aygo</h3>

                         
                         
                          <h4>Από € 10.420</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/yaris">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/48124767910163971-yaris.png" alt="Νέο Yaris"/>
                         <h3>Νέο Yaris</h3>

                         
                         
                          <h4>Από € 12.450</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-hatchback">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/261360628823666504-corolla.png" alt="Νέο Corolla Hatchback"/>
                         <h3>Νέο Corolla Hatchback</h3>

                         
                         
                          <h4>Από € 17.600</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-sedan">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/820278277228792331-corolla-sedan.png" alt="Νέο Corolla Sedan"/>
                         <h3>Νέο Corolla Sedan</h3>

                         
                         
                          <h4>Από € 17.270</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-touring-sports">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/887793844478692066-corolla-ts.png" alt="Νεό Corolla Touring Sports"/>
                         <h3>Νεό Corolla Touring Sports</h3>

                         
                         
                          <h4>Από € 25.670</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/c-hr">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/70062432043707443-chr.png" alt="Νέο C-HR"/>
                         <h3>Νέο C-HR</h3>

                         
                         
                          <h4>Από € 21.270</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/rav4">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/376668948312982870-rav4.png" alt="Νέο RAV4"/>
                         <h3>Νέο RAV4</h3>

                         
                         
                          <h4>Από € 27.700</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/hilux">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/714799608561990794-30e35078-b535-4f19-8ecb-8d97a88f0749.png" alt="Νέο Hilux"/>
                         <h3>Νέο Hilux</h3>

                         
                         
                          <h4>Από € 24.150</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/proace-verso">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/73576837932082029-proace-verso.png" alt="Νέο PROACE VERSO"/>
                         <h3>Νέο PROACE VERSO</h3>

                         
                         
                          <h4>Από € 27.780</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/proace">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/83734791334314439-proace.png" alt="Νέο PROACE"/>
                         <h3>Νέο PROACE</h3>

                         
                         
                          <h4>Από € 24.280</h4>
                         

                       </a>
                     </li>
                     
                 
               </ul>
               <div class="row">
                 <div class="col-xs-12 menu-footer">
                     <div  class=" apos-area" data-slug="global:menuText" data-options='{"textOnly":true,"controls":[],"name":"menuText","slug":"global:menuText","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p>Σημείωση: Οι παραπάνω τιμές έχουν υπολογιστεί με βάση τις ανώτατες λιανικές τιμές του ισχύοντος τιμοκαταλόγου της Toyota Ελλάς και περιλαμβάνουν ΦΠΑ 24% και τέλος ταξινόμησης  καθώς επίσης τα έξοδα προετοιμασίας και μεταφοράς (έως τις εγκαταστάσεις μας). Προσοχή: Στις παραπάνω τιμές δεν συμπεριλαμβάνεται η έκπτωση προωθητικού προγράμματος που ενδέχεται να είναι σε ισχύ.</p>


</div></div>



  </div></div>
  </div>
</div>
                 </div>
               </div>
             </div>
           
           <div class="col-md-5">
             

              
               <div class="tabs-cta">
                 <div  class=" apos-area" data-slug="global:globalMenuCta" data-options='{"textOnly":true,"controls":["createLink","insertUnorderedList"],"name":"globalMenuCta","slug":"global:globalMenuCta","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<ul>
	<li><a href="test-drive-form">Κλείστε ένα Test Drive</a></li>
	<li><a href="service-form">Κλείστε ραντεβού για Service</a></li>
	<li><a href="contact-form">Επικοινωνήστε μαζί μας</a><a href="http://www.toyota.gr/testdrive.tmex"> </a></li>
	<li><a href="/corporate/brochure-page" target="_blank">Ζητήστε έντυπο</a></li>
</ul>


</div></div>



  </div></div>
  </div>
</div>
               </div>
              
             
              

  <ul class="tabs level-0">
    
      <li class="tab ">


        



  <a href="/corporate/covid-19"
  
  class="apos-page-link "
  >
  COVID-19</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/corporate/hsd-proof-drive"
  
  class="apos-page-link "
  >
  Toyota Hybrid Proof Drive</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/corporate/toyota-safety-sense"
  
  class="apos-page-link "
  >
  Προηγμένη Ασφάλεια: Toyota Safety Sense</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/corporate/new-models-offers"
  
  class="apos-page-link "
  >
  Προσφορές Νέων Αυτοκινήτων</a>

        
      </li>
    
  </ul>

             
              

  <ul class="tabs level-0">
    
      <li class="tab ">


        



  <a href="/fleet-sales"
  
  class="apos-page-link "
  >
  Εταιρικές Πωλήσεις</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/toyota-enviromental-challenge-2050"
  
  class="apos-page-link "
  >
  Toyota Enviromental Challenge 2050</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/after-sales"
  
  class="apos-page-link "
  >
  After Sales</a>

        
          

  <ul class="tabs level-1">
    
      <li class="tab ">


        



  <a href="/after-sales/book-a-service"
  
  class="apos-page-link "
  >
  Περιοδική Συντήρηση</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/after-sales/body-paint-srv"
  
  class="apos-page-link "
  >
  Υπηρεσίες Φανοβαφείου</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/after-sales/warranty"
  
  class="apos-page-link "
  >
  6ετής Εγγύηση</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/after-sales/other-services1"
  
  class="apos-page-link "
  >
  &#39;Αλλες Υπηρεσίες</a>

        
      </li>
    
  </ul>

        
      </li>
    
      <li class="tab ">


        



  <a href="/car-insurance"
  
  class="apos-page-link "
  >
  Ασφάλιση Αυτοκινήτου</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/car-financing"
  
  class="apos-page-link "
  >
  Χρηματοδότηση Αυτοκινήτου</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/company-info"
  
  class="apos-page-link "
  >
  Η εταιρία</a>

        
          

  <ul class="tabs level-1">
    
      <li class="tab ">


        



  <a href="/company-info/news"
  
  class="apos-page-link "
  >
  Νέα</a>

        
      </li>
    
      <li class="tab ">


        



  <a href="/company-info/staff"
  
  class="apos-page-link "
  >
  Οι Άνθρωποι μας</a>

        
      </li>
    
  </ul>

        
      </li>
    
  </ul>

             
           </div>
         </div>
      
    </div>
  </div>




<!-- Begin page content -->
<div id="wrapper" class="clearfix">

  
  <div class="container main">

    
    

    
    
    
  <h1><div  class=" apos-area" data-slug="/caroption:intro" data-options='{"textOnly":true,"name":"intro","slug":"/caroption:intro","controls":["style","bold","italic","createLink","unlink","insertUnorderedList","insertTable","slideshow","buttons","video","files","embed","pullquote","html","groups","holidays","partners","brands","products","brandCampaign","productCampaign","toyotaVideos","carMakes","usedCars","testDriveBrands","campaignProduct","campaignBrand","productOffer","staff","economicFile","iFrame"],"styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p>Καλώς ήρθατε στηv Car Option A.E.</p>


</div></div>



  </div></div>
  </div>
</div></h1>

  <div class="apos-singleton apos-singleton-slideshow"  data-slug="/caroption:cover"  data-type="slideshow" data-options='{"limit":20,"aspectRatio":[1140,400],"extraFields":true,"itemType":{"widget":true,"label":"Image(s)","icon":"icon-image","css":"slideshow"}}'>
  <div class="apos-normal-view"><div class="apos-content">
      
        
  

  <div class="apos-item apos-widget apos-slideshow apos-full apos-middle   "
    data="{&#34;0&#34;:&#34;{&#34;,&#34;1&#34;:&#34;\&#34;&#34;,&#34;2&#34;:&#34;l&#34;,&#34;3&#34;:&#34;i&#34;,&#34;4&#34;:&#34;m&#34;,&#34;5&#34;:&#34;i&#34;,&#34;6&#34;:&#34;t&#34;,&#34;7&#34;:&#34;\&#34;&#34;,&#34;8&#34;:&#34;:&#34;,&#34;9&#34;:&#34;3&#34;,&#34;10&#34;:&#34;,&#34;,&#34;11&#34;:&#34;\&#34;&#34;,&#34;12&#34;:&#34;a&#34;,&#34;13&#34;:&#34;s&#34;,&#34;14&#34;:&#34;p&#34;,&#34;15&#34;:&#34;e&#34;,&#34;16&#34;:&#34;c&#34;,&#34;17&#34;:&#34;t&#34;,&#34;18&#34;:&#34;R&#34;,&#34;19&#34;:&#34;a&#34;,&#34;20&#34;:&#34;t&#34;,&#34;21&#34;:&#34;i&#34;,&#34;22&#34;:&#34;o&#34;,&#34;23&#34;:&#34;\&#34;&#34;,&#34;24&#34;:&#34;:&#34;,&#34;25&#34;:&#34;[&#34;,&#34;26&#34;:&#34;1&#34;,&#34;27&#34;:&#34;1&#34;,&#34;28&#34;:&#34;4&#34;,&#34;29&#34;:&#34;0&#34;,&#34;30&#34;:&#34;,&#34;,&#34;31&#34;:&#34;4&#34;,&#34;32&#34;:&#34;0&#34;,&#34;33&#34;:&#34;0&#34;,&#34;34&#34;:&#34;]&#34;,&#34;35&#34;:&#34;,&#34;,&#34;36&#34;:&#34;\&#34;&#34;,&#34;37&#34;:&#34;i&#34;,&#34;38&#34;:&#34;t&#34;,&#34;39&#34;:&#34;e&#34;,&#34;40&#34;:&#34;m&#34;,&#34;41&#34;:&#34;T&#34;,&#34;42&#34;:&#34;y&#34;,&#34;43&#34;:&#34;p&#34;,&#34;44&#34;:&#34;e&#34;,&#34;45&#34;:&#34;\&#34;&#34;,&#34;46&#34;:&#34;:&#34;,&#34;47&#34;:&#34;{&#34;,&#34;48&#34;:&#34;\&#34;&#34;,&#34;49&#34;:&#34;w&#34;,&#34;50&#34;:&#34;i&#34;,&#34;51&#34;:&#34;d&#34;,&#34;52&#34;:&#34;g&#34;,&#34;53&#34;:&#34;e&#34;,&#34;54&#34;:&#34;t&#34;,&#34;55&#34;:&#34;\&#34;&#34;,&#34;56&#34;:&#34;:&#34;,&#34;57&#34;:&#34;t&#34;,&#34;58&#34;:&#34;r&#34;,&#34;59&#34;:&#34;u&#34;,&#34;60&#34;:&#34;e&#34;,&#34;61&#34;:&#34;,&#34;,&#34;62&#34;:&#34;\&#34;&#34;,&#34;63&#34;:&#34;l&#34;,&#34;64&#34;:&#34;a&#34;,&#34;65&#34;:&#34;b&#34;,&#34;66&#34;:&#34;e&#34;,&#34;67&#34;:&#34;l&#34;,&#34;68&#34;:&#34;\&#34;&#34;,&#34;69&#34;:&#34;:&#34;,&#34;70&#34;:&#34;\&#34;&#34;,&#34;71&#34;:&#34;I&#34;,&#34;72&#34;:&#34;m&#34;,&#34;73&#34;:&#34;a&#34;,&#34;74&#34;:&#34;g&#34;,&#34;75&#34;:&#34;e&#34;,&#34;76&#34;:&#34;(&#34;,&#34;77&#34;:&#34;s&#34;,&#34;78&#34;:&#34;)&#34;,&#34;79&#34;:&#34;\&#34;&#34;,&#34;80&#34;:&#34;,&#34;,&#34;81&#34;:&#34;\&#34;&#34;,&#34;82&#34;:&#34;i&#34;,&#34;83&#34;:&#34;c&#34;,&#34;84&#34;:&#34;o&#34;,&#34;85&#34;:&#34;n&#34;,&#34;86&#34;:&#34;\&#34;&#34;,&#34;87&#34;:&#34;:&#34;,&#34;88&#34;:&#34;\&#34;&#34;,&#34;89&#34;:&#34;i&#34;,&#34;90&#34;:&#34;c&#34;,&#34;91&#34;:&#34;o&#34;,&#34;92&#34;:&#34;n&#34;,&#34;93&#34;:&#34;-&#34;,&#34;94&#34;:&#34;i&#34;,&#34;95&#34;:&#34;m&#34;,&#34;96&#34;:&#34;a&#34;,&#34;97&#34;:&#34;g&#34;,&#34;98&#34;:&#34;e&#34;,&#34;99&#34;:&#34;\&#34;&#34;,&#34;100&#34;:&#34;,&#34;,&#34;101&#34;:&#34;\&#34;&#34;,&#34;102&#34;:&#34;c&#34;,&#34;103&#34;:&#34;s&#34;,&#34;104&#34;:&#34;s&#34;,&#34;105&#34;:&#34;\&#34;&#34;,&#34;106&#34;:&#34;:&#34;,&#34;107&#34;:&#34;\&#34;&#34;,&#34;108&#34;:&#34;s&#34;,&#34;109&#34;:&#34;l&#34;,&#34;110&#34;:&#34;i&#34;,&#34;111&#34;:&#34;d&#34;,&#34;112&#34;:&#34;e&#34;,&#34;113&#34;:&#34;s&#34;,&#34;114&#34;:&#34;h&#34;,&#34;115&#34;:&#34;o&#34;,&#34;116&#34;:&#34;w&#34;,&#34;117&#34;:&#34;\&#34;&#34;,&#34;118&#34;:&#34;}&#34;,&#34;119&#34;:&#34;}&#34;,&#34;limit&#34;:3,&#34;aspectRatio&#34;:[1140,400],&#34;extraFields&#34;:true,&#34;itemType&#34;:{&#34;widget&#34;:true,&#34;label&#34;:&#34;Image(s)&#34;,&#34;icon&#34;:&#34;icon-image&#34;,&#34;css&#34;:&#34;slideshow&#34;},&#34;widget&#34;:true,&#34;position&#34;:&#34;middle&#34;,&#34;size&#34;:&#34;full&#34;,&#34;type&#34;:&#34;slideshow&#34;,&#34;id&#34;:&#34;w933883591636983214&#34;,&#34;ids&#34;:[&#34;931230486456011161&#34;,&#34;978129789948342279&#34;,&#34;81654270729236443&#34;,&#34;357051887471752725&#34;,&#34;608875876261720840&#34;,&#34;57477209809613111&#34;,&#34;44727213434357290&#34;,&#34;109776357548457572&#34;,&#34;79769227355884275&#34;],&#34;extras&#34;:{&#34;931230486456011161&#34;:{&#34;hyperlink&#34;:&#34;/cars/corolla-hatchback&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;978129789948342279&#34;:{&#34;hyperlink&#34;:&#34;/cars/corolla-sedan&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;81654270729236443&#34;:{&#34;hyperlink&#34;:&#34;/cars/rav4&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;357051887471752725&#34;:{&#34;hyperlink&#34;:&#34;/cars/yaris&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;608875876261720840&#34;:{&#34;hyperlink&#34;:&#34;/cars/c-hr&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;57477209809613111&#34;:{&#34;hyperlink&#34;:null,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;44727213434357290&#34;:{&#34;hyperlink&#34;:&#34;/cars/hilux&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;109776357548457572&#34;:{&#34;hyperlink&#34;:&#34;service-form&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},&#34;79769227355884275&#34;:{&#34;hyperlink&#34;:&#34;/corporate/covid-19&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}},&#34;showTitles&#34;:false,&#34;showDescriptions&#34;:false,&#34;showCredits&#34;:false,&#34;_items&#34;:[{&#34;_id&#34;:&#34;931230486456011161&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2019-04-15T13:25:24.728Z&#34;,&#34;name&#34;:&#34;1140x400-hb&#34;,&#34;title&#34;:&#34;1140x400 hb&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;85d29ff67864dbbb3189a4b022bf89e8&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;1140x400 hb 1140x400 hb none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/corolla-hatchback&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;978129789948342279&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2019-04-15T13:25:41.359Z&#34;,&#34;name&#34;:&#34;1140x400-sdn&#34;,&#34;title&#34;:&#34;1140x400 sdn&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;6f7b48bf80065676c31cbf33ca00c96b&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;1140x400 sdn 1140x400 sdn none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/corolla-sedan&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;81654270729236443&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2019-04-15T13:26:01.472Z&#34;,&#34;name&#34;:&#34;1140x400-rav&#34;,&#34;title&#34;:&#34;1140x400 rav&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;f7b1664c61d520c6c7b0ffb5450fa101&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;1140x400 rav 1140x400 rav none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/rav4&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;357051887471752725&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2017-05-12T07:44:11.213Z&#34;,&#34;name&#34;:&#34;new-yaris-carusel-1140x400-3&#34;,&#34;title&#34;:&#34;new yaris carusel 1140x400 3&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;a48cfeb8c2ef79e84e84ea263db5e6bf&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;new yaris carusel 1140x400 3 new yaris carusel 1140x400 3 none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/yaris&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;608875876261720840&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2016-12-16T09:51:10.744Z&#34;,&#34;name&#34;:&#34;toy004-c-hr-dec2016-1140x400-withoutctabutton&#34;,&#34;title&#34;:&#34;toy004 c hr dec2016 1140x400 withoutctabutton&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;ebbc9eb2ad2fd8f0adbcdc805d669140&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;toy004 c hr dec2016 1140x400 withoutctabutton toy004 c hr dec2016 1140x400 withoutctabutton none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/c-hr&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;57477209809613111&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2016-04-21T07:47:32.417Z&#34;,&#34;name&#34;:&#34;01-small&#34;,&#34;title&#34;:&#34;01 small&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;fe41fea9416c9c47e0819973b2feb7d7&#34;,&#34;width&#34;:1024,&#34;height&#34;:359,&#34;searchText&#34;:&#34;01 small 01 small none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:null,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;44727213434357290&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2016-07-26T15:07:01.264Z&#34;,&#34;name&#34;:&#34;toy004-hilux2016-1140x400&#34;,&#34;title&#34;:&#34;toy004 hilux2016 1140x400&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;1eb5dd5c05b1c0dc645da7f575d234ae&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;toy004 hilux2016 1140x400 toy004 hilux2016 1140x400 none hilux none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[&#34;hilux&#34;],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/cars/hilux&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;109776357548457572&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2014-11-28T16:58:27.612Z&#34;,&#34;name&#34;:&#34;toy004-service-1140x400&#34;,&#34;title&#34;:&#34;toy004 service 1140x400&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;c503b18e666bfaefa3ac2f76ac774d4f&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;toy004 service 1140x400 toy004 service 1140x400 none polis homepage none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[&#34;polis homepage&#34;],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;service-form&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false},{&#34;_id&#34;:&#34;79769227355884275&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2020-03-26T10:45:38.194Z&#34;,&#34;name&#34;:&#34;covid-19&#34;,&#34;title&#34;:&#34;covid 19&#34;,&#34;extension&#34;:&#34;png&#34;,&#34;md5&#34;:&#34;0291f9b3a4ea149900a04075efca1b47&#34;,&#34;width&#34;:1140,&#34;height&#34;:400,&#34;searchText&#34;:&#34;covid 19 covid 19 none none png images admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/corporate/covid-19&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}]}"
    data-id="w933883591636983214"
    data-type="slideshow"
    data-position="middle"
    data-size="full"
  >








  <ul data-slideshow-items class="apos-slideshow-items">
    
      
        
        <li data-slideshow-item class="apos-slideshow-item apos-current apos-first " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/931230486456011161-1140x400-hb.full.jpg);">
          
            <a href="/cars/corolla-hatchback" alt="" >
              <img class="apos-slideshow-image" alt="1140x400 hb" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/931230486456011161-1140x400-hb.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/978129789948342279-1140x400-sdn.full.jpg);">
          
            <a href="/cars/corolla-sedan" alt="" >
              <img class="apos-slideshow-image" alt="1140x400 sdn" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/978129789948342279-1140x400-sdn.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/81654270729236443-1140x400-rav.full.jpg);">
          
            <a href="/cars/rav4" alt="" >
              <img class="apos-slideshow-image" alt="1140x400 rav" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/81654270729236443-1140x400-rav.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/357051887471752725-new-yaris-carusel-1140x400-3.full.jpg);">
          
            <a href="/cars/yaris" alt="" >
              <img class="apos-slideshow-image" alt="new yaris carusel 1140x400 3" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/357051887471752725-new-yaris-carusel-1140x400-3.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/608875876261720840-toy004-c-hr-dec2016-1140x400-withoutctabutton.full.jpg);">
          
            <a href="/cars/c-hr" alt="" >
              <img class="apos-slideshow-image" alt="toy004 c hr dec2016 1140x400 withoutctabutton" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/608875876261720840-toy004-c-hr-dec2016-1140x400-withoutctabutton.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/57477209809613111-01-small.full.jpg);">
          
              <img class="apos-slideshow-image" alt="01 small" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/57477209809613111-01-small.full.jpg" />
          

          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/44727213434357290-toy004-hilux2016-1140x400.full.jpg);">
          
            <a href="/cars/hilux" alt="" >
              <img class="apos-slideshow-image" alt="toy004 hilux2016 1140x400" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/44727213434357290-toy004-hilux2016-1140x400.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/109776357548457572-toy004-service-1140x400.full.jpg);">
          
            <a href="service-form" alt="" >
              <img class="apos-slideshow-image" alt="toy004 service 1140x400" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/109776357548457572-toy004-service-1140x400.full.jpg" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
      
        
        <li data-slideshow-item class="apos-slideshow-item apos-last " style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/79769227355884275-covid-19.full.png);">
          
            <a href="/corporate/covid-19" alt="" >
              <img class="apos-slideshow-image" alt="covid 19" data-image src="https://d2rq89ar94fgby.cloudfront.net/files/79769227355884275-covid-19.full.png" />
            </a>
          

          
            <div class="apos-slideshow-description-container">
              
              
              
            </div>
          
          
        </li>
      
    
  </ul>



  
    <div class="toyota-slideshow-arrows">
      <a href="#" data-next title="Next"><i class="icon icon-chevron-left"></i></a>
      <a href="#" data-previous title="Previous"><i class="icon icon-chevron-right"></i></a>
    </div>
  




  </div>



      
    </div>
  </div>
</div>




  <div  class=" apos-area" data-slug="/caroption:content1" data-options='{"textOnly":true,"name":"content1","slug":"/caroption:content1","controls":["style","bold","italic","createLink","unlink","insertUnorderedList","insertTable","slideshow","buttons","video","files","embed","pullquote","html","groups","holidays","partners","brands","products","brandCampaign","productCampaign","toyotaVideos","carMakes","usedCars","testDriveBrands","campaignProduct","campaignBrand","productOffer","staff","economicFile","iFrame"],"styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<h3><strong>Η νέα εποχή της ΤΟΥΟΤΑ σας καλωσορίζει να τη γνωρίσετε από κοντά στην </strong><strong>Car</strong> <strong>Option</strong> <strong>A</strong><strong>.</strong><strong>E</strong><strong>. </strong></h3>

<ul>
	<li>Με τη μακροχρόνια πείρα και την άριστη τεχνογνωσία των ανθρώπων μας , είμαστε η καλύτερη ομάδα για το ΤΟΥΟΤΑ σας.</li>
	<li>Επισκεφτείτε τις υπερσύγχρονες εγκαταστάσεις μας και βιώστε έναν καινούριο κόσμο του αυτοκινήτου. Τον κόσμο της ΤΟΥΟΤΑ. </li>
</ul>


</div></div>



  </div></div>
  </div>
</div>
  <hr />

  <div class="row spacer bottom" >
    <div  class=" apos-area" data-slug="/caroption:bottom" data-options='{"controls":["bold","createLink","buttons","images","slideshow"],"lockups":["textOverlay","textBottom"],"slideshow":{"limit":1,"aspectRatio":[360,200],"disableTitle":true,"disableDescriptions":true,"disableCredits":true},"buttons":{"limit":1,"aspectRatio":[360,200],"disableTitle":true,"disableDescriptions":true,"disableCredits":true},"name":"bottom","slug":"/caroption:bottom","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Use the Add Content button to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div class="apos-item apos-widget apos-buttons     "
    data="{&#34;limit&#34;:1,&#34;aspectRatio&#34;:[360,200],&#34;disableTitle&#34;:true,&#34;disableDescriptions&#34;:true,&#34;disableCredits&#34;:true,&#34;widget&#34;:true,&#34;extraFields&#34;:true,&#34;editView&#34;:&#34;1&#34;,&#34;type&#34;:&#34;buttons&#34;,&#34;id&#34;:&#34;w156177086510691528&#34;,&#34;ids&#34;:[&#34;9694836835742204&#34;],&#34;extras&#34;:{&#34;9694836835742204&#34;:{&#34;hyperlink&#34;:&#34;/corporate/hsd-proof-drive&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}},&#34;showTitles&#34;:false,&#34;showDescriptions&#34;:false,&#34;showCredits&#34;:false,&#34;_items&#34;:[{&#34;_id&#34;:&#34;9694836835742204&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2017-05-10T09:21:52.309Z&#34;,&#34;name&#34;:&#34;toyota-hybrid-proof-drive-360x200-a&#34;,&#34;title&#34;:&#34;toyota hybrid proof drive 360x200 a&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;abeb640b703b0d438a0fbe1ee6d457b3&#34;,&#34;width&#34;:360,&#34;height&#34;:200,&#34;searchText&#34;:&#34;toyota hybrid proof drive 360x200 a toyota hybrid proof drive 360x200 a none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/corporate/hsd-proof-drive&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}]}"
    data-id="w156177086510691528"
    data-type="buttons"
    
    
  >








  

  <ul data-slideshow-items class="apos-buttons">
      
        
          <li data-slideshow-item class="apos-buttons-item apos-first apos-last">
            

              <a href="/corporate/hsd-proof-drive" class="apos-button-link apos-slideshow-clickthru"  >
                <div data-slideshow-item class="apos-button-image" style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/9694836835742204-toyota-hybrid-proof-drive-360x200-a.full.jpg)">
                  <img data-image alt="toyota hybrid proof drive 360x200 a" src="https://d2rq89ar94fgby.cloudfront.net/files/9694836835742204-toyota-hybrid-proof-drive-360x200-a.full.jpg" />
                </div>
              </a>
            

            
          </li>
        
      
    </ul>
  
  






  </div><div class="apos-item apos-widget apos-buttons     "
    data="{&#34;limit&#34;:1,&#34;aspectRatio&#34;:[360,200],&#34;disableTitle&#34;:true,&#34;disableDescriptions&#34;:true,&#34;disableCredits&#34;:true,&#34;widget&#34;:true,&#34;extraFields&#34;:true,&#34;editView&#34;:&#34;1&#34;,&#34;type&#34;:&#34;buttons&#34;,&#34;id&#34;:&#34;w80044969849225153&#34;,&#34;ids&#34;:[&#34;207445240905080625&#34;],&#34;extras&#34;:{&#34;207445240905080625&#34;:{&#34;hyperlink&#34;:&#34;/corporate/new-models-offers&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}},&#34;showTitles&#34;:false,&#34;showDescriptions&#34;:false,&#34;showCredits&#34;:false,&#34;_items&#34;:[{&#34;_id&#34;:&#34;207445240905080625&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2015-07-20T07:36:32.564Z&#34;,&#34;name&#34;:&#34;banner-offers-updated-360x200&#34;,&#34;title&#34;:&#34;banner offers updated 360x200&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;5a9c81e5ea07f8f0b270e26bf78787c6&#34;,&#34;width&#34;:360,&#34;height&#34;:200,&#34;searchText&#34;:&#34;banner offers updated 360x200 banner offers updated 360x200 none offer banner 2 none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;description&#34;:&#34;&#34;,&#34;credit&#34;:&#34;&#34;,&#34;tags&#34;:[&#34;offer_banner_2&#34;],&#34;private&#34;:false,&#34;hyperlink&#34;:&#34;/corporate/new-models-offers&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false}]}"
    data-id="w80044969849225153"
    data-type="buttons"
    
    
  >








  

  <ul data-slideshow-items class="apos-buttons">
      
        
          <li data-slideshow-item class="apos-buttons-item apos-first apos-last">
            

              <a href="/corporate/new-models-offers" class="apos-button-link apos-slideshow-clickthru"  >
                <div data-slideshow-item class="apos-button-image" style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/207445240905080625-banner-offers-updated-360x200.full.jpg)">
                  <img data-image alt="banner offers updated 360x200" src="https://d2rq89ar94fgby.cloudfront.net/files/207445240905080625-banner-offers-updated-360x200.full.jpg" />
                </div>
              </a>
            

            
          </li>
        
      
    </ul>
  
  






  </div><div class="apos-item apos-widget apos-buttons     "
    data="{&#34;limit&#34;:1,&#34;aspectRatio&#34;:[360,200],&#34;disableTitle&#34;:true,&#34;disableDescriptions&#34;:true,&#34;disableCredits&#34;:true,&#34;widget&#34;:true,&#34;extraFields&#34;:true,&#34;editView&#34;:&#34;1&#34;,&#34;type&#34;:&#34;buttons&#34;,&#34;id&#34;:&#34;w750846169682870366&#34;,&#34;ids&#34;:[&#34;497762806479790225&#34;],&#34;extras&#34;:{&#34;497762806479790225&#34;:{&#34;hyperlink&#34;:&#34;/cars/yaris&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false,&#34;crop&#34;:{&#34;top&#34;:103,&#34;left&#34;:0,&#34;width&#34;:1843,&#34;height&#34;:1024}}},&#34;showTitles&#34;:false,&#34;showDescriptions&#34;:false,&#34;showCredits&#34;:false,&#34;_items&#34;:[{&#34;_id&#34;:&#34;497762806479790225&#34;,&#34;length&#34;:null,&#34;group&#34;:&#34;images&#34;,&#34;createdAt&#34;:&#34;2018-01-10T12:07:27.733Z&#34;,&#34;name&#34;:&#34;toyotayarisholland-180&#34;,&#34;title&#34;:&#34;toyotayarisholland 180&#34;,&#34;extension&#34;:&#34;jpg&#34;,&#34;md5&#34;:&#34;958c1c5a1a94b01ea809d702188b1fed&#34;,&#34;width&#34;:1843,&#34;height&#34;:1230,&#34;searchText&#34;:&#34;toyotayarisholland 180 toyotayarisholland 180 none none jpg images jpeg admin&#34;,&#34;landscape&#34;:true,&#34;ownerId&#34;:&#34;admin&#34;,&#34;crops&#34;:[{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;},{&#34;top&#34;:&#34;103&#34;,&#34;left&#34;:&#34;0&#34;,&#34;width&#34;:&#34;1843&#34;,&#34;height&#34;:&#34;1024&#34;}],&#34;hyperlink&#34;:&#34;/cars/yaris&#34;,&#34;hyperlinkTitle&#34;:&#34;&#34;,&#34;hyperlinkTarget&#34;:false,&#34;crop&#34;:{&#34;top&#34;:103,&#34;left&#34;:0,&#34;width&#34;:1843,&#34;height&#34;:1024}}]}"
    data-id="w750846169682870366"
    data-type="buttons"
    
    
  >








  

  <ul data-slideshow-items class="apos-buttons">
      
        
          <li data-slideshow-item class="apos-buttons-item apos-first apos-last">
            

              <a href="/cars/yaris" class="apos-button-link apos-slideshow-clickthru"  >
                <div data-slideshow-item class="apos-button-image" style="background-image:url(https://d2rq89ar94fgby.cloudfront.net/files/497762806479790225-toyotayarisholland-180.0.103.1843.1024.full.jpg)">
                  <img data-image alt="toyotayarisholland 180" src="https://d2rq89ar94fgby.cloudfront.net/files/497762806479790225-toyotayarisholland-180.0.103.1843.1024.full.jpg" />
                </div>
              </a>
            

            
          </li>
        
      
    </ul>
  
  






  </div><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<div>
<p> </p>

<p><strong>Toyota Hybrid Proof Drive</strong></p>

<p>Το μοναδικό Test Drive με αποδείξεις! Κλείστε ραντεβού και δείτε πόσο μπορείτε να κινηθείτε αποκλειστικά ηλεκτρικά, χωρίς κατανάλωση.</p>
</div>


</div></div>



  </div><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p> </p>

<p>Δείτε τις ειδικές προσφορές που ισχύουν σήμερα για τα καινούργια αυτοκίνητα Toyota στην Car Option Α.Ε.! </p>

<p> </p>


</div></div>



  </div><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p> </p>

<p>Το νέο Toyota Yaris πιάνει κορυφή, με την υψηλότερη βαθμολογία ασφαλείας των 5 αστέρων στις δοκιμές πρόσκρουσης του Euro NCAP!</p>


</div></div>



  </div></div>
  </div>
</div>
  </div>

  </div>
  

  
  

  
  
  
  


    <!-- Begin footer -->
    <footer id="footer">
      <div class="wrap">

      <div class="maps">
        <div class="maps-controls">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <a href="#" class="map-close-btn"><i class="icon icon-remove"></i> Κλείσιμο</a>
              </div>
            </div>
          </div>
        </div>
        <div id="map-canvas"></div>
      </div>
      <div class="container">

        
          <div class="row" style="position:relative">

            <div class="col-md-8">
              <h1>Car Option αε</h1>
            </div>
            <div class="col-md-4 logo">

              
              

            </div>
          </div>
          
          <div class="row">
            <div class="addresses">
            
            
              <div class="state">
              <h3>Νομός Αρκαδίας</h3>
              
                <div class="address">
                    <p class="title">Τρίπολη </p>
                    
                    <h4>4ο χλμ Τρίπολης -Σπάρτης<br/>
                        221 00, Τρίπολη<br/>
                    
                        <small>t.</small>
                        2710225800<br/>
                    
                    
                      <small>e.</small>
                      <a href="mailto:info@car-option.gr">info@car-option.gr</a><br/>
                    
                    
                      <a href="#" class="map-btn" data-lat="37.478567" data-lng="22.395892" data-index="0"><i class="icon icon-map-marker"></i> Εμφάνιση στο χάρτη</a>
                     
                    </h4>
                    
                      <h5>Λειτουργίες:</h5>
                      <p class="services">
                        Έκθεση, Συνεργείο, Ανταλλακτικά
                      </p>
                    

                    
                      <div class="footerText">
                        <div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p><strong>Ώρες Λειτουργίας</strong></p>

<p><strong>Έκθεση </strong></p>

<p>Δευτέρα - Τετάρτη:  08:30 - 16:30</p>

<p>Τρίτη - Πέμπτη - Παρασκευή: 08:30 - 19:00</p>

<p>Σάββατο : 10:00 - 13:00</p>

<p><strong>Συνεργείο-Ανταλλακτικά </strong></p>

<p>Δευτέρα - Παρασκευή:  08:30 - 16:30</p>

<p>Σάββατο: Κλειστά</p>

<p> </p>


</div></div>



  </div>
                      </div>
                    
                </div>
                
              
              </div>
            
          </div>
        </div>


        
      </div>

      <div class="toyota-extra-links">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div  class=" apos-area" data-slug="global:footerLinks" data-options='{"textOnly":true,"controls":["createLink"],"name":"footerLinks","slug":"global:footerLinks","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p><a href="/corporate/gdpr/terms">Όροι Χρήσης</a>  |  <a href="/corporate/gdpr/cookies">Ρυθμίσεις cookies</a> | <a href="/corporate/gdpr/data-privacy">Πολιτική Προστασίας Προσωπικών Δεδομένων</a> | <a href="/corporate/gdpr/privacy-notice">Δήλωση Απορρήτου</a>|<a href="/corporate/gdpr/gdpr-apply">Φόρμα Άσκησης Δικαιωμάτω</a></p>


</div></div>



  </div></div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End footer -->
  

  
    
      
    
  
</div>


<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
    <!--var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--if (d.getElementById(id)) return;-->
    <!--js = d.createElement(s); js.id = id;-->
    <!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1473635576235617&version=v2.0";-->
    <!--fjs.parentNode.insertBefore(js, fjs);-->
  <!--}(document, 'script', 'facebook-jssdk'));-->

<!--</script>-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57276314-2', 'auto');
  ga('send', 'pageview');

</script>

<script>
</script>



  </div>



    
    <div class="apos-modal-login apos-modal apos-template">
  <div class="apos-login-container">

  <div class="apos-login">
    <h4>LOGIN</h4>
    
      
        <form action="/login" method="post">
          <div class="login-inputs">
            
            
              <div class="login-username">
                <label for="username">Username or Email </label>
                <input type="text" name="username" id="username"/>
              </div>
              <div class="login-password">
                <label for="password">Password </label>
                <input type="password" name="password" id="password" />
              </div>
            
            <div class="login-submit clearfix">
              <input type="submit" class="apos-button" value="Log In" />
            </div>
            
              
            
          </div>
        </form>
      
    
  </div>
</div>
</div><div id="toyota-form-dialog" class="toyota-form-dialog">
  <div class="toyota-form-wrapper">
    <div class="toyota-form"></div>
  </div>
</div>
<div class="apos-template" data-overlay-placeholder>
  <div class="overlay-wrapper">
    <div class="overlay-content">

    </div>
    <div class="overlay-toolbar">
      <a href="" data-action="overlay-close">Κλείσιμο</a>
    </div>
  </div>
</div><div class="toyota-video-wrapper apos-template">
  <div class="toyota-video">
    <a href="#" class="toyota-video-slug" ></a>
  </div>
</div><div class="toyota-video-overlay apos-template">
  <div class="toyota-video"></div>
</div><div class="toyota-widget-video-wrapper apos-template">
  <input type="checkbox" data-select/>
  <h1 class="toyota-video-title"></h1>
  <div class="toyota-video">
    <a href="#" class="toyota-video-slug" ></a>
  </div>
</div><div class="apos-template" data-cookie-law>
<div class="toyota-cookie-banner">
 <a href="" class="toyota-cookie-banner-close" data-action="cookie-law-accept">Αποδοχή &times;</a>
 <h3>Ρυθμίσεις cookies</h3>
 <p>
  Στον ιστότοπo Toyota χρησιμοποιούμε την ειδική τεχνολογία των cookies, η οποία μας βοηθά στη συνεχή βελτίωση αυτού με απώτερο σκοπό τη δική 
  σας καλύτερη εξυπηρέτηση. Η τεχνολογία των cookies δεν συγκεντρώνει τα προσωπικά σας δεδομένα και μπορείτε πάντα να την απενεργοποιήσετε. 
  Μάθετε περισσότερα για τις ρυθμίσεις των cookies <a href="/corporate/gdpr/cookies">εδώ</a>
</p>
</div>
</div>a
    <script src="//vjs.zencdn.net/4.6/video.js"></script>
    <script type="text/javascript">
      
      
      
        apos.data = apos.data || {};
  $.extend(true, apos.data, {"files":{}});
  $.extend(true, apos.data, {"widgetOptions":{"richText":{"label":"Text","icon":"icon-align-left","markup":true},"slideshow":{"widget":true,"label":"Image(s)","icon":"icon-image","css":"slideshow"},"buttons":{"widget":true,"label":"Button(s)","icon":"icon-button","css":"buttons"},"marquee":{"widget":true,"label":"Marquee","icon":"icon-slideshow","css":"marquee"},"files":{"widget":true,"label":"Files","icon":"icon-file","css":"files"},"video":{"widget":true,"label":"Video","icon":"icon-video","css":"video","oembedType":"video"},"embed":{"widget":true,"label":"Embed","icon":"icon-beaker","css":"embed","oembedNotType":"video"},"pullquote":{"widget":true,"label":"Pullquote","icon":"icon-quote-left","css":"pullquote","content":true,"contentSelector":".apos-pullquote-text"},"code":{"widget":true,"label":"Code","css":"code","content":true,"contentSelector":".apos-pullquote-text"},"html":{"widget":true,"label":"HTML","icon":"icon-code","css":"html"}}});
  $.extend(true, apos.data, {"uploadsUrl":"https://d2rq89ar94fgby.cloudfront.net","prefix":""});
  $.extend(true, apos.data, {"mediaLibrary":{"owner":"user"}});
  $.extend(true, apos.data, {"lockups":{"textOverlay":{"label":"Overlay","tooltip":"Overlay on top","icon":"icon-arrow-up","widgets":["slideshow"]},"overlayRight":{"label":"Split Left","tooltip":"Set Left","icon":"icon-arrow-left","widgets":["slideshow"]},"textBottom":{"label":"Bottom","tooltip":"Bottom","icon":"icon-arrow-down","widgets":["slideshow"]},"offerTop":{"label":"Offer Top","tooltip":"Offer Top","icon":"icon-arrow-up","widgets":["products"]},"offerBottom":{"label":"Offer Bototm","tooltip":"Offer Bottom","icon":"icon-arrow-down","widgets":["products"]}}});
  $.extend(true, apos.data, {"aposPages":{"root":"/","types":[]}});
  $.extend(true, apos.data, {"aposPages":{"menu":[{"name":"simpleDisplay","label":"Simple Page"},{"name":"carDisplay","label":"Car Page"},{"name":"accessories","label":"Accessories Page"},{"name":"branch","label":"Branch Page"},{"name":"staff","label":"Staff Pages"},{"name":"rootCarDisplay","label":"Root Car Page"},{"name":"usedCarPage","label":"Used Cars Page"},{"name":"brandBrochures","label":"Brands Brochures"},{"name":"economicsReport","label":"Economic Report"},{"name":"placeholder","label":"Placeholder"},{"name":"carOverrides","label":"Car Overrides"},{"name":"globalPage","label":"Global Page"},{"name":"framePage","label":"Frame Page"},{"name":"policyPage","label":"Policy Page"},{"name":"home","label":"Home"}]}});
  $.extend(true, apos.data, {"editor2":{"plugins":[]}});
  $.extend(true, apos.data, {"schemaWidgetsUi":{"toggleUi":false}});
  $.extend(true, apos.data, {"schemaWidgets":{"campaignProduct":{"name":"campaignProduct","label":"Product Campaign","instructions":"Specify a product and write down the available offer","schema":[{"name":"_productCampaign","type":"joinByOne","withType":"productCampaign","idField":"productCampaignId","label":"Product Campaign","withJoins":["_product"]},{"name":"description","type":"area","label":"Extra Offer","required":false,"options":{"textOnly":true,"controls":["bold","italic"]}}],"css":"campaign-product"}}});
  $.extend(true, apos.data, {"schemaWidgets":{"campaignBrand":{"name":"campaignBrand","label":"Brand Campaign","instructions":"Specify a product and write down the available offer","schema":[{"name":"_brandCampaign","type":"joinByOne","withType":"brandCampaign","idField":"brandCampaignId","label":"Brand Campaign"},{"name":"description","type":"area","label":"Extra Offer","required":false,"options":{"textOnly":true,"controls":["bold","italic"]}}],"css":"campaign-brand"}}});
  $.extend(true, apos.data, {"schemaWidgets":{"productOffer":{"name":"productOffer","label":"Product Offer","instructions":"Specify a product and write down the available offer","schema":[{"name":"_product","type":"joinByOne","withType":"product","idField":"productId","label":"Product","_dotPath":"_product","_arrays":[]},{"name":"alignment","type":"boolean","label":"Image on top"},{"name":"description","type":"area","label":"Offer Description","required":true,"options":{"textOnly":true}}],"css":"product-offer"}}});
  $.extend(true, apos.data, {"schemaWidgets":{"staff":{"name":"staff","label":"Staff","schema":[{"name":"fullname","type":"string","label":"Full Name","required":true},{"name":"job","type":"string","label":"Job Description","required":true},{"name":"email","type":"string","label":"E-Mail","required":true},{"name":"phone","type":"string","label":"Phone Number","required":true},{"name":"showOnPdf","label":"PDF","def":"0","type":"select","choices":[{"label":"No","value":"0"},{"label":"Yes","value":"1","showFields":["signature"]}]},{"name":"signature","label":"Signature","type":"singleton","widgetType":"slideshow","options":{"label":"Signature","limit":1}},{"name":"showOnServiceForm","label":"Service Form?","def":"0","type":"select","choices":[{"label":"No","value":"0"},{"label":"Yes","value":"1","showFields":["thumbnail"]}]},{"name":"thumbnail","label":"Avatar","type":"singleton","widgetType":"slideshow","options":{"label":"Avatar","limit":1,"aspectRatio":[200,200]}}],"css":"staff"}}});
  $.extend(true, apos.data, {"schemaWidgets":{"economicFile":{"name":"economicFile","schema":[{"name":"title","label":"Title","type":"string","required":true},{"name":"year","label":"Year","type":"string","required":true},{"name":"file","label":"PDF","type":"singleton","widgetType":"files","required":true,"options":{"limit":1}}],"css":"economic-file"}}});
  $.extend(true, apos.data, {"schemaWidgets":{"iFrame":{"name":"iFrame","schema":[{"name":"address","label":"Address","type":"string","required":true},{"name":"height","label":"Height","type":"integer","required":true}],"css":"i-frame"}}});
  $.extend(true, apos.data, {"aposGroups":{"permissions":[{"value":"guest","label":"Guest"},{"value":"edit","label":"Editor"},{"value":"admin","label":"Admin: All"},{"value":"admin-file","label":"Admin: Files"},{"value":"edit-file","label":"Edit: Files"},{"value":"admin-holiday","label":"Admin: Holidays"},{"value":"edit-holiday","label":"Edit: Holidays"},{"value":"submit-holiday","label":"Submit: Holidays"},{"value":"admin-partner","label":"Admin: Partners"},{"value":"edit-partner","label":"Edit: Partners"},{"value":"submit-partner","label":"Submit: Partners"},{"value":"admin-brand","label":"Admin: Car Brands"},{"value":"edit-brand","label":"Edit: Car Brands"},{"value":"submit-brand","label":"Submit: Car Brands"},{"value":"admin-product","label":"Admin: Products"},{"value":"edit-product","label":"Edit: Products"},{"value":"submit-product","label":"Submit: Products"},{"value":"admin-brand-campaign","label":"Admin: Brand Campaigns"},{"value":"edit-brand-campaign","label":"Edit: Brand Campaigns"},{"value":"submit-brand-campaign","label":"Submit: Brand Campaigns"},{"value":"admin-product-campaign","label":"Admin: Product Campaigns"},{"value":"edit-product-campaign","label":"Edit: Product Campaigns"},{"value":"submit-product-campaign","label":"Submit: Product Campaigns"},{"value":"admin-toyota-video","label":"Admin: Toyota Videos"},{"value":"edit-toyota-video","label":"Edit: Toyota Videos"},{"value":"submit-toyota-video","label":"Submit: Toyota Videos"},{"value":"admin-car-make","label":"Admin: Car Makes"},{"value":"edit-car-make","label":"Edit: Car Makes"},{"value":"submit-car-make","label":"Submit: Car Makes"},{"value":"admin-used-car","label":"Admin: Used Cars"},{"value":"edit-used-car","label":"Edit: Used Cars"},{"value":"submit-used-car","label":"Submit: Used Cars"},{"value":"admin-test-drive-brand","label":"Admin: Test Drive Brands"},{"value":"edit-test-drive-brand","label":"Edit: Test Drive Brands"},{"value":"submit-test-drive-brand","label":"Submit: Test Drive Brands"}]}});  apos.data = apos.data || {};
  $.extend(true, apos.data, {"aposPages":{"page":{"_id":"71010820539601817","title":"Car Option αε","seoDescription":"","published":true,"orphan":false,"tags":["partner"],"type":"partnerPage","level":1,"path":"home/caroption","slug":"/caroption","rank":95,"sortTitle":"car option αε","highSearchWords":["car","option","αε","caroption","partner"],"pagePermissions":["view-163206694244839725","view-224216856820182611"],"ctas":["contact","test-drive","service"],"draft":{},"submitDraft":{},"brandId":{},"url":"/caroption","ancestors":[{"title":"Home","slug":"/","_id":"4444444444444","type":"home","published":true}],"parent":{"_id":"4444444444444","slug":"/","path":"home","title":"Home","level":0,"type":"home","published":true,"sortTitle":"home","highSearchWords":["home","undefined"],"draft":{},"ctas":["phone","contact","test-drive","service","online-chat"],"url":"/"}}}});
  $.extend(true, apos.data, {"permissions":{}});

      $(function() {
        
          apos.prefixAjax("");  polyglot.extend({"Simple Display":"Simple Display","Simple Displays":"Simple Displays","Car Display":"Car Display","Car Displays":"Car Displays","Accessories Page":"Accessories Page","Branch":"Branch","Branchs":"Branchs","Staff Pages":"Staff Pages","Root Car Page":"Root Car Page","Root Car Pages":"Root Car Pages","Used Car Page":"Used Car Page","Used Car Pages":"Used Car Pages","Brands Brochures":"Brands Brochures","Economics Report":"Economics Report","Economics Reports":"Economics Reports","Placeholder":"Placeholder","Placeholders":"Placeholders","Car Overrides":"Car Overrides","Car Overridess":"Car Overridess","Global Page":"Global Page","Global Pages":"Global Pages","Frame Page":"Frame Page","Policy Page":"Policy Page","Policy Pages":"Policy Pages","Home":"Home","Users":"Users","Directory":"Directory","Groups":"Groups","Group":"Group","Holidays":"Holidays","Holiday":"Holiday","Partners":"Partners","Partner":"Partner","Car Brands":"Car Brands","Brand":"Brand","Products":"Products","Product":"Product","Brand Campaigns":"Brand Campaigns","Brand Campaign":"Brand Campaign","Product Campaigns":"Product Campaigns","Product Campaign":"Product Campaign","Toyota Videos":"Toyota Videos","Toyota Video":"Toyota Video","Car Makes":"Car Makes","Car Make":"Car Make","Used Cars":"Used Cars","Used Car":"Used Car","Partner Page":"Partner Page","Partner Pages":"Partner Pages","Cars Page":"Cars Page","Cars Pages":"Cars Pages","Test Drive Brands":"Test Drive Brands"});
apos.afterYield(function() { apos.emit("ready"); });

      });
    </script>
  </body>
</html>
